*,
*::before,
a::after {
    box-sizing: border-box;
    margin: 0;
    font-family: "Poppins", sans-serif;
    user-select: none;
}

img {
    pointer-events: none;
}

html,
body {
    height: 100vh;
    background-color: #B9141B;
}

.title {
    color: #CAEA26;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: #1E1E1E;
}