@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

*,
*::before,
a::after {
    box-sizing: border-box;
    margin: 0;
    user-select: none;
}

img {
    pointer-events: none;
}

html,
body {
    height: 100vh;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0D0202;
}

.base {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    background-color: #B9141B;
    border-radius: 21px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 3vh 0 1vh 0;
    line-height: 0.7;
}

.title {
    color: #CAEA26;
    font-family: "Sacramento", cursive;
    font-size: 45px;
}

.subtitle {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: flex-start;
    font-family: "Poppins", sans-serif;
    color: #1E1E1E;
}

.screen {
    width: 600px;
    height: 600px;
    background-color: #D9D9D9;
    border: 6px solid #891016;
    border-radius: 11px;
}

.knobs {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 25vw;
    padding: 1vh;
}

.knobs button {
    width: 112.5px;
    height: 112.5px;
    border: none;
    border-radius: 150px;
    background-color: #B9141B;
}

.knobs button:hover {
    cursor: pointer;
}