@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

*,
*::before,
a::after {
    margin: 0;
    user-select: none;
}

img {
    pointer-events: none;
}

html,
body {
    height: 100vh;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333333;
}

.yellow {
    color: #CAEA26;
}

.cursive {
    font-family: "Sacramento", cursive;
}

main {
    display: flex;
    gap: 3vw;
    align-items: center;
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #B9141B;
    border-radius: 21px;
    border: 1px solid #000000bf;
    padding: 2vh;
    height: 550px;
    gap: 1vh;
}

.pallette,
.canvas-settings {
    font-size: 40px;
}

.pallette input[type='color'],
.pallette-buttons button,
.by-buttons button {
    transition: scale 0.1s ease-in-out;
    cursor: pointer;
}


.pallette {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.pallette input[type='color'] {
    flex-shrink: 0;
    width: 100px;
    height: 100px;
    -webkit-appearance: none;
    appearance: none;
    border: 3px solid #CAEA26;
    cursor: pointer;
    border-radius: 50%;
    padding: 0;
    margin: 1vw;
}

.pallette input[type='color']:hover,
.pallette-buttons button:hover,
.by-buttons button:hover {
    scale: 1.1;
}

.pallette input[type='color']::-webkit-color-swatch-wrapper {
    padding: 0;
    border-radius: 50%;
}

.pallette input[type='color']::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
}

.pallette-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    align-items: center;
    gap: 1vh;

    button {
        width: 150px;
        height: 75px;
        font-size: 36px;
        border-radius: 27px;
        border: 5px solid #1a1a1a;
        padding: 1vh;
    }
}

.container {
    display: flex;
    align-items: center;
}

.by-buttons button {
    width: 175px;
    height: 75px;
    font-size: 36px;
    border-radius: 27px;
    border: 5px solid #1a1a1a;
    padding: 1vh;
    margin: 1vh 0;
}

.input-span {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1vh;
}

#customSize {
    -webkit-appearance: none;
    width: 300px;
    height: 10px;
    border-radius: 27px;
    background-color: #efefef;
}


#customSize::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 5px solid #1a1a1a;
    background-color: #CAEA26;
}

.base {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    border: 1px solid rgba(0, 0, 0, 0.75);
    background-color: #B9141B;
    border-radius: 21px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 3vh 0 1vh 0;
    line-height: 0.7;
}

.title {
    font-size: 45px;
}

.subtitle {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: flex-start;
    font-family: "Poppins", sans-serif;
    color: #1E1E1E;
}

.screen {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    background-color: #D9D9D9;
    border: 6px solid #891016;
    border-radius: 11px;
}

.screen div {
    flex: 1 1 auto;
}

.knobs {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 25vw;
    padding: 1vh;
}